body{
    background-color: rgb(240, 174, 75);
}
.heading{
    text-align: center;
    color: rgb(54, 31, 187);
}
.description{
    justify-content: center;
    color: rgb(54, 31, 187);
    text-align: center;
}
.container-center{
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    padding: 1rem 0.5rem;
}
.bill ,.cash{
    color:rgb(54, 31, 187);
    text-align: center;
    margin: 5px 5px;
    padding: 5px 5px;
}
#cash-given{
    margin-bottom: 30px;
}
#check-btn{
    width: 15vw;
    height: 5vh;
    border: 2px solid black;
    margin: auto;
    background-color: rgb(54, 31, 187);
    color: aliceblue;
}
.input{
    width: 50vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 15px;
    margin: auto;
    outline: none;
}
#error{
    color: red;
    text-align: center;
    font-size: large;
}

.cap{
    color: rgb(54, 31, 187);
    margin: 10px 10px;
}
.notes{
    color:black;
    border: 2px solid black;
    background-color: rgb(54, 31, 187);
    color: aliceblue;
}
.row-span{
    color: black;
    border: 2px solid black;
    background-color: rgb(54, 31, 187);
    color: aliceblue;
}
.exchange{
    color: black;
    border: 2px solid black;
    background-color: rgb(54, 31, 187);
    color: aliceblue;
    padding: 1px 10px;
}
.table{
    display: flexbox;
    flex-direction:column;
    justify-content: center;
    width: 20%;
    padding: 10px 30px;
}
.cap{
    margin: auto;
    width: 100vw;
    padding-bottom: 5px;
}
td{
    text-align: center;
    border: 2px solid black;
    padding: 12px 2px;
    background-color: white;
    
    
}